body {
    margin: 0;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', 'sans serif';
    font-size: 14px;
}
nav, .navbar-default {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
    opacity: 0.7;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    opacity: 1;
}

ul.navbar-left {
    font-size: 2rem;
}

ul.navbar-right {
    font-size: 1.3rem;
}

ul.navbar-right>li>a {
    padding-left: 0px;
}

section.one {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100vh;
    width: 100vw;
}

/* div.slogan {
    top: 25vh;
    width: 100%;
    position: absolute;
    font-size: 1.2em;
}

.slogan h1 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.slogan div.line {
    position: relative;
    border-bottom: 3.5px solid #f05f40;
    text-align: center;
    margin: auto;
    width: 50px;
}

.slogan p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    color: #fff;
    font-size: 1.05em;
    text-align: center;
    font-weight: 300;
    opacity: 0.75;
    line-height: 1.5em;
}

.slogan button {
    position: relative;
    margin: auto;
    width: 190px;
    height: 54px;
    border-radius: 27px;
    border-color: transparent;
    background-color: #f05f40;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95em;
}

section.one {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100vh;
    width: 100vw;
} */

.row h1 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.row div.line {
    position: relative;
    border-bottom: 3.5px solid #f05f40;
    text-align: center;
    margin: auto;
    width: 50px;
}

.row p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    font-weight: 300;
    opacity: 0.75;
    line-height: 1.5em;
}

.row button {
    position: relative;
    margin: auto;
    width: 190px;
    height: 54px;
    border-radius: 27px;
    border-color: transparent;
    background-color: #f05f40;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95em;
}

.button {
    text-align: center;
}

section.two {
    width: 100%;
    background-color: #f05f40;
}

section.two {
    padding: 110px;
}

section.two .row h2 {
    text-align: center;
    color: #fff;
}

section.two .row div.line {
    text-align: center;
    border-bottom: 3.5px solid #ffffff;
}

section.two .row button {
    background-color: #ffffff;
    color: #212529;
}

.jumbotron {
    background-color: transparent;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}


section.three {
    padding: 150px 0;
    text-align: center;
}

section.three p {
    color: black;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

section.three p.description {
    color: #868e96;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

section.three i {
    color: #f05f40;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -moz-transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -o-transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

section.three .row .line {
    margin-bottom: 80px;
}

section.four .no-padding {
    padding: 0;
}

section.four .rectangle {
    width: 100%;
    height: 250px;
    background-image: url("../img/port1.jpg");
}

section.four .rectangle-cover {
    z-index: 100;
    width: 100%;
    height: 250px;
    position: absolute;
}

section.four .rectangle-cover:hover {
    background-color: #f05f40;
    opacity: 0.8;
}

section.four .rectangle-cover label {
    
}

section.four .rectangle-cover p {
    
}

section.five .container {
    padding: 200px;
    background-color: #212529;
    width: 100%;
    text-align: center;
}

section.five button {
    background-color: #ffffff;
    color: #212529;
}

section.five .row h2 {
    text-align: center;
    color: #fff;
}

section.six h2 {
    text-transform: capitalize;
    text-align: center;
}

section.six p {
    color: #212529;
}



/* #popo {
    content: "";
    height: 150px;
    width: 300px;
    background: url('../img/img-teste.jpeg') no-repeat;
    background-size: cover;
} */

/* 
background: 
linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
),
url(../img/back-3.jpeg); */

